table {
    width: 100%;
    padding: 1em;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  
  .full-width-input {
    width: 100% auto;
    padding: 1em;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    padding: 0 0.4rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .header h1 {
    display: inline;
    padding-top: .6rem;
    font-weight: 400;
  }