<mat-toolbar color="primary" class="toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon class="parent">menu</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="container" autosize>
	<mat-sidenav #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <mat-icon mat-list-icon>home</mat-icon> 
				<span class="full-width" *ngIf="isExpanded || isShowing"> Inicio </span>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Proyectos</a>
				<a mat-list-item href="/user">Usuarios</a>
			</div>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <mat-icon mat-list-icon>exit_to_app</mat-icon> 
				<span class="full-width" *ngIf="isExpanded || isShowing" (click)="logout()"> Cerrar Sesión </span>
			</mat-list-item>
</mat-nav-list>
	</mat-sidenav>

	<div class="sidenav-content">
		Main content that resizes properly
	</div>

</mat-sidenav-container>