<div class="card">
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label [style.fontSize.px]="16">Ingrese su DPI</mat-label>
          <input
            type="number"
            formControlName="DPI"
            matInput
            placeholder="2320 55634 0103"
            required/>
          <mat-error *ngIf="DPI?.touched && DPI?.hasError('required')"
            >DPI es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="DPI?.touched && DPI?.hasError('pattern')"
            >DPI debe contener<strong> 13 digitos</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label [style.fontSize.px]="16">Ingrese su Nombre</mat-label>
          <input
            type="text"
            matInput
            formControlName="nombres"
            placeholder="Primer Nombre, Segundo Nombre..."
            class="form-control"
            required/>
          <mat-error *ngIf="Nombres?.touched && Nombres?.hasError('required')"
            >Nombres son <strong>requeridos</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label [style.fontSize.px]="16">Ingrese su Apellido</mat-label>
          <input
            type="text"
            formControlName="apellidos"
            matInput
            placeholder="Primer Apellido, Segundo Apellido..."
            class="form-control"
            required/>
          <mat-error
            *ngIf="Apellidos?.touched && Apellidos?.hasError('required')"
            >Apellidos son <strong>requeridos</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label [style.fontSize.px]="16">Ingrese su Email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="ejemplo.correo@gmail.com"
            class="form-control"
            required/>
          <mat-error *ngIf="Email?.touched && Email?.hasError('required')"
            >Email es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label [style.fontSize.px]="16"
            >Ingrese el Codigo de Usuario</mat-label>
          <input
            type="number"
            formControlName="codigo_usuario"
            matInput
            placeholder="0985"
            class="form-control"
            required/>
          <mat-error
            *ngIf="
              CodigoUsuario?.touched && CodigoUsuario?.hasError('required')
            ">Codigo de usuario es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label [style.fontSize.px]="16">Ingrese el Nombre de Usuario</mat-label>
          <input
            type="text"
            formControlName="username"
            matInput
            placeholder="usuario2023"
            class="form-control"
            required/>
          <mat-error *ngIf="Username?.touched && Username?.hasError('required')"
            >Nombre de usuario es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label [style.fontSize.px]="16">Ingrese Contraseña</mat-label>
          <input
            type="password"
            formControlName="password"
            matInput
            class="form-control"
            required/>
          <mat-error *ngIf="Password?.touched && Password?.hasError('required')"
            >Contraseña es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="Password?.touched && Password?.hasError('pattern')"
            >Contraseña debe tener al menos
            <strong>
              8 caracteres, letras minusculas, letras mayusculas, numeros y
              caracteres especiales
            </strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label [style.fontSize.px]="16">Confirme Contraseña</mat-label>
          <input
            type="password"
            formControlName="passwordConfirm"
            matInput
            class="form-control"
            required/>

          <mat-error
            *ngIf="
              PasswordConfirm?.touched && PasswordConfirm?.hasError('required')">Contraseña es <strong>requerido</strong>
          </mat-error>
          <mat-error
            *ngIf="
              PasswordConfirm?.touched && PasswordConfirm?.hasError('pattern')">Contraseña debe tener al menos
            <strong>
              8 caracteres, letras minusculas, letras mayusculas, numeros y
              caracteres especiales
            </strong>
          </mat-error>
          <mat-error
            *ngIf="
              PasswordConfirm?.touched &&
              PasswordConfirm?.hasError('matchPassword')"><strong> Las contraseñas no coinciden </strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button
          type="submit"
          *ngxPermissionsOnly="['crear-usuario']"
          [disabled]="!registerForm.valid"
          mat-raised-button
          (click)="registerUser()"
          color="primary">
          Guardar Usuario
        </button>
        <br />
        <button
          *ngxPermissionsOnly="['crear-usuario']"
          type="submit"
          (click)="cancelAdd()"
          mat-stroked-button
          color="warn">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
