<div class="grid-container">
    <div class="frow-container">
        <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
            <div class="header">
                <h2>{{project}}</h2>
                <div>
                    <h3><mat-label>Progreso Total</mat-label></h3>
                    <mat-progress-spinner color="primary" mode="determinate" value="45">
                    </mat-progress-spinner>
                </div>
            </div>
        </div>

        <div>
            <mat-tab-group>
                <mat-tab label="Roles" ><app-group-project></app-group-project></mat-tab>
                <mat-tab label="UPM'S">
                    <app-upms></app-upms>
                </mat-tab>
                
                <mat-tab label="Asignar Personal y UPM's">
                    <br>
                    <hr>
                    <label [style.fontSize.px]="16">Personal</label>
                    <app-personal-monitor></app-personal-monitor>
                    <br>
                    <hr>
                    <label [style.fontSize.px]="16">UPM's</label>
                    <app-personal-upms></app-personal-upms>
                </mat-tab>
                <mat-tab label="Asignar UPM'S"><app-personal-upms></app-personal-upms> </mat-tab>
                <mat-tab label="Equipos de Campo">Content 3</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>



