<div class="header">
    <h1>{{project}}</h1>

    <div>
        <mat-label>Progreso Total</mat-label>
        <mat-progress-spinner color="primary" mode="determinate" value="45">
        </mat-progress-spinner>
    </div>
    
</div>

<div>
    <mat-tab-group>
        <mat-tab label="Roles"><app-group-project></app-group-project></mat-tab>
        <mat-tab label="UPM'S">
        <br />
        <div class="frow">
            <div class="col-sm-1-1 col-sm-3-12 col-md-3-12" style="text-align: left;">
                <button mat-flat-button color="accent" style="margin-right: 8px;">
                    Agregar
                </button>
            </div>

            <div class="col-sm-1-1 col-sm-3-12 col-md-3-12" style="text-align: right;">
                <button mat-flat-button color="accent" style="margin-right: 8px;">
                    <mat-icon>arrow_upward</mat-icon>
                    Subir archivo
                </button>
            </div>
        </div>

        </mat-tab>
        <mat-tab label="Asignar UPM'S a Monitor">Content 3</mat-tab>
        <mat-tab label="Asignar Personal a Monitor"> Asignar personal al siguiente rol: 
            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                <mat-label [style.fontSize.px]="16">Seleccione un Rol</mat-label>
                <mat-select formControlName="roles">
                    <mat-option
                      *ngFor="let rol of roles"
                    [value]="rol.id + ',' + rol.nombre"
                    >{{ rol.nombre }}</mat-option>
                </mat-select>
                  <!-- <mat-error *ngIf="Rol?.touched && Rol?.hasError('required')"
                    >Rol es <strong>requerido</strong>
                </mat-error> -->
                </mat-form-field>
            </div>

            <div class="frow">
                <div class="col-sm-1-1 col-sm-3-12 col-md-3-12">
                    <button mat-flat-button color="accent" style="margin-right: 8px;">
                        <mat-icon>arrow_upward</mat-icon>
                        Subir archivo xls
                    </button>
                </div>

                <div class="col-sm-1-1 col-sm-3-12 col-md-3-12">
                    <button mat-flat-button color="accent" style="margin-right: 8px;">
                        <mat-icon>arrow_downward</mat-icon>
                        Descargar
                    </button>
                </div>
            </div>
            
        </mat-tab>
        
        <mat-tab label="Equipos de Campo">Content 3</mat-tab>
    </mat-tab-group>
</div>

