<div class="grid-container">
    <div class="frow-container">
        <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
            <div class="header">
                <h2>{{project}}</h2>
                <div>
                    <h3><mat-label>Progreso Total</mat-label></h3>
                    <mat-progress-spinner color="primary" mode="determinate" value="45"></mat-progress-spinner> 
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="mat-elevation-z8">
            <mat-tab-group color="accent">
                <mat-tab>
                    <h1>Progreso</h1>
                </mat-tab>
                <mat-tab label="Roles" *ngxPermissionsOnly="['crear-rol_proyecto']">
                    <app-group-project></app-group-project>
                </mat-tab>
                <mat-tab label="UPM" *ngxPermissionsOnly="['ver-upms']">
                    <app-upms></app-upms>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>










