<br>
<div class="grid-container">
  <div class="frow-container">
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
        <h2>Usuarios</h2>
      </div>
      <div class="col-sm-1-1 col-sm-3-12 col-md-3-12"></div>
      <div class="col-sm-1-1 col-sm-3-12 col-md-3-12" style="text-align: right;">
        <button *ngxPermissionsOnly="['crear-usuario']" mat-flat-button color="accent" style="margin-right: 8px;" (click)="open()">
          <mat-icon>add</mat-icon>
          Crear Usuario
        </button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <mat-form-field [style.fontSize.px]="12" appearence="outline" class="fluid">
      <mat-label [style.fontSize.px]="14">Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Juan López" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="fluid">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
      
          <!-- DPI Column -->
          <ng-container matColumnDef="DPI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DPI</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.DPI }}</td>
          </ng-container>
      
          <!-- Nombres Column -->
          <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.nombres }}</td>
          </ng-container>
      
          <!-- Apellidos Column -->
          <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.apellidos }}</td>
          </ng-container>
      
          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.username }}</td>
          </ng-container>
      
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.descripcion }}</td>
          </ng-container>
  
          <!-- Phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.telefono }}</td>
          </ng-container>
  
          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>
      
          <!-- CodigoUsuario Column -->
          <ng-container matColumnDef="codigo_usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.codigo_usuario }}</td>
          </ng-container>
      
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">
              <button
                *ngxPermissionsOnly="['editar-usuario']"
                mat-icon-button
                (click)="
                  editar(
                    row.id,
                    row.DPI,
                    row.nombres,
                    row.apellidos,
                    row.descripcion,
                    row.telefono,
                    row.email,
                    row.codigo_usuario,
                    row.username
                  )
                "
                matTooltip="Click para Editar"
                matTooltipPosition="right"
                color="primary"
                class="iconbutton"
              >
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button
                *ngxPermissionsOnly="['desactivar-usuario']"
                mat-icon-button
                matTooltip="Click para desactivar"
                (click)="desactivar(row.id, row.username)"
                color="warn"
                class="iconbutton"
              >
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
              <button
                *ngxPermissionsOnly="['crear-usuario']"
                mat-icon-button
                matTooltip="Politicas del usuario"
                (click)="rolesUser(row.id, row.username)"
                color="primary"
                class="iconbutton"
              >
            <mat-icon>perm_identity</mat-icon></button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="selected-row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No hay resultados de "{{ input.value }}"
            </td>
          </tr>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
</div>
