table {
    width: 100%;
    padding: 1em;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  
  .full-width-input {
    width: 100% auto;
    padding: 1em;
  }
