.login-form {
  padding: 4rem 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  mat-card {
    max-width: 600px;
    margin: 2rem auto;
    text-align: center;
    height: 440px;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
  }

  mat-card-header {
    height: 440px;
    background-color: #cde8f3;
  }

  .full-width-input,
  button {
    width: 100%;
  }
}
