.grid-container { 
    margin: 20px;
    justify-content: center;
}

.full-width {
    width: 100%;
}

mat-card { 
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}

.mat-mdc-card-header {
    padding: 0% !important;
}

mat-form-field { 
    display: block;
}

.login-buttons { 
    padding-top: 1em;
    text-align: center;
    width: 100%;
    > button {
        width: 50%;
    }
}

.title-card{
    font-size: 24px;
    margin: 0 0 16px;
    font-weight: 500;
}

.mat-mdc-card {
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.abs-center {
    transform: translate(30%, 25%);
}