<app-auth-header></app-auth-header>

<div class="frow-container" style="padding-top: 2em;">
  <div class="frow">
    <div class="col-xs-1-1 col-sm-6-12 col-md-4-12">
      <mat-card appearance="outlined" style="padding: 0;">
        <mat-card-header color="primary" class="my-header">
          <mat-card-title style="width: 100%; margin-bottom: 0;">
            <div class="frow">
              <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                <h1 class="title-card">Bienvenidos</h1>
              </div>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 2.5em 10%;">
          <img width="120" src="./assets/icon-login.png" />
          <br><br>
          <form [formGroup]="loginForm" (ngSubmit)="sendLogin()">
            <mat-form-field class="fluid" [style.fontSize.px]="14" appearance="outline">
              <mat-label [style.fontSize.px]="16" >Codigo de usuario</mat-label>
              <input matInput type="number" formControlName="codigo_usuario"/>
              <mat-error *ngIf="CodigoUsuario?.touched && CodigoUsuario?.hasError('required')"> El codigo de usuario es <strong>requerido</strong></mat-error> 
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field class="fluid" [style.fontSize.px]="14" appearance="outline">
              <mat-label [style.fontSize.px]="16">Contraseña</mat-label>
              <input matInput type="{{passwordType}}" formControlName="password"/>
              <a *ngIf="passwordType=='password'" matSuffix mat-icon-button aria-label="Clear" (click)="changePasswordType()">
                <mat-icon>visibility</mat-icon>
              </a>

              <a *ngIf="passwordType=='text'" matSuffix mat-icon-button aria-label="Clear" (click)="changePasswordType()">
                <mat-icon>visibility_off</mat-icon>
              </a>
              <mat-error *ngIf="Password?.touched && Password?.hasError('required')"> Contraseña es <strong>requerida</strong></mat-error> 
            </mat-form-field>

            <div class="login-buttons">
              <button mat-raised-button color="accent" [disabled]="!loginForm.valid || loading" [class.spinner]="loading">
                Ingresar
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-1-1 col-sm-6-12 col-md-8-12"></div>
  </div>
</div>


