.sidenav-container { 
    height: 100%;
}



.sidenav { 
    width: 220px;
    background-color: #fafafa;
}

.sidenav .mat-toolbar { 
    background: inherit;
}

.mat-toolbar.mat-primary { 
    position: sticky;
    top: 0;
    z-index: 1;
}

.icon-user { 
    height: 32px;
    width: 32px;
}

.menu-icon {
    margin-right: 1em;
    width: 18px;
    height: 18px;
    font-size: 1em;
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin: 0;
    width: 50rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

strong{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project{
    border: 1px solid black;
}

.header_toolbar{
    display: flex;
    justify-content: space-between;
}

.header_title{
    display: flex;
    align-items: center;
}
.menu-icon { 
    height: 32px;
    width: 32px;
}
.menu_item{
    display: flex;
    align-items: center;
}
.menu_user{
    display: flex;
    align-items: center;
}