<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [(opened)]="opened"
    class="sidenav"
    mode="side"
    *ngIf="token != ''"
  >
    <div style="text-align: center; padding-top: 1em">
      <mat-icon class="icon-user" [style.fontSize.px]="32"
        >account_circle</mat-icon
      >
      <h4 style="padding-bottom: 20px">
        <strong>{{ usuario }}</strong>
      </h4>
      <mat-divider></mat-divider>
    </div>
    <mat-nav-list>
      <a mat-list-item class="menu-list-item" routerLink="home">
        <mat-icon class="routeIcon menu-icon">home</mat-icon>
        <span [style.fontSize.px]="14">Inicio</span>
      </a>
     
<!--</a>*ngxPermissionsOnly="['administrar-proyecto']"-->
      <div *ngIf="project">
        <a
        
        mat-list-item
        class="menu-list-item"
        routerLink="projectHome"
      >
        <mat-icon class="routeIcon menu-icon">folder</mat-icon>
        <span [style.fontSize.px]="14">
          <strong >Administracion 
            <br>
            {{ project }}
          </strong>
          </span>
      </a>
        <a
        *ngxPermissionsOnly="['asignar-personal']"
          mat-list-item
          class="menu-list-item"
          routerLink="projectHome/assignPersonal"
        >
          <mat-icon class="routeIcon menu-icon">people_outline</mat-icon>
          <span [style.fontSize.px]="14">Carga de personal</span>
        </a>
        <a 
        *ngxPermissionsOnly="['asignar-upms-personal']"
        mat-list-item class="menu-list-item" routerLink="projectHome/assignUpmChief">
          <mat-icon class="routeIcon menu-icon">work</mat-icon>
          <span [style.fontSize.px]="14">Carga de trabajo</span>
        </a>
      </div>

      <!--<div *ngIf="project">
        <a
          mat-list-item
          class="menu-list-item"
          routerLink="projectHome/supervisor">
          <mat-icon class="routeIcon menu-icon">people_outline</mat-icon>
          <span [style.fontSize.px]="14">Supervisor</span>
        </a>
      </div>-->

      <div *ngIf="project">
        <a
        *ngxPermissionsOnly="['ver-upms-cartografo']"
          mat-list-item
          class="menu-list-item"
          routerLink="projectHome/cartografo">
          <mat-icon class="routeIcon menu-icon">people_outline</mat-icon>
          <span [style.fontSize.px]="14">Cartografo</span>
        </a>
      </div>

      <div *ngIf="project">
        <a
          mat-list-item
          class="menu-list-item"
          routerLink="projectHome/equipo-campo">
          <mat-icon class="routeIcon menu-icon">my_location</mat-icon>
          <span [style.fontSize.px]="14">Equipo de Campo</span>
        </a>
      </div>

      <a
        mat-list-item
        *ngxPermissionsOnly="['ver-proyecto']"
        class="menu-list-item"
        routerLink="project"
      >
        <mat-icon class="routeIcon menu-icon">folder</mat-icon>
        <span [style.fontSize.px]="14">Proyectos</span>
      </a>
      <a
        mat-list-item
        *ngxPermissionsOnly="['ver-usuario']"
        class="menu-list-item"
        routerLink="user"
      >
        <mat-icon class="routeIcon menu-icon">person</mat-icon>
        <span [style.fontSize.px]="14">Usuarios</span>
      </a>
      <a
        mat-list-item
        *ngxPermissionsOnly="['ver-rol']"
        class="menu-list-item"
        routerLink="rol"
      >
        <mat-icon class="routeIcon menu-icon">supervisor_account</mat-icon>
        <span [style.fontSize.px]="14">Politicas</span>
      </a>

      <a
        mat-list-item
        *ngxPermissionsOnly="['ver-encuesta']"
        class="menu-list-item"
        routerLink="surveys"
      >
        <mat-icon class="routeIcon menu-icon">question_answer</mat-icon>
        <span [style.fontSize.px]="14">Encuestas</span>
      </a>
      <a
        mat-list-item
        *ngxPermissionsOnly="['ver-grupo']"
        class="menu-list-item"
        routerLink="group"
      >
        <mat-icon class="routeIcon menu-icon">group</mat-icon>
        <span [style.fontSize.px]="14">Roles</span>
      </a>
      <a
        mat-list-item
        *ngxPermissionsOnly="['ver-vehiculo']"
        class="menu-list-item"
        routerLink="vehicle"
      >
        <mat-icon class="routeIcon menu-icon">commute</mat-icon>
        <span [style.fontSize.px]="14">Vehículos</span>
      </a>

      <a mat-list-item class="menu-list-item" [routerLink]="['auth/logout']">
        <mat-icon class="routeIcon menu-icon">exit_to_app</mat-icon>
        <span [style.fontSize.px]="14">Salir</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white">
    <app-spinner></app-spinner>
    <mat-toolbar color="primary" style="z-index: 99" *ngIf="token != ''">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="opened = !opened"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Portal Cartografia</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <div style="width: 100%; height: auto">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
