<div class="title">
    <h2>Asignar UPM a usuario</h2>
    <button (click)="cancelEdit()" mat-icon-button>
        <mat-icon>cancel</mat-icon>
    </button>
</div>
<br>
<br>
<br>
<div>
    <h3>Usuarios</h3>
    <br>
    <p>Haga click en el usuario al que le desea asignar el upm</p>
    <br>
    <div class="container" >
        <button mat-flat-button  class="button" *ngFor="let user of users" color="primary" (click)="editUser(user.codigo_usuario,user.nombres)">
            <mat-icon *ngIf="user.button" color="warn">beenhere</mat-icon>
           {{user.codigo_usuario}} - {{user.nombres}} {{user.apellidos}}
        </button>
    </div>
</div>