<div class="card">
    <h3 mat-dialog-title>Politica: {{data.nombre}}</h3>
    <h6 mat-dialog-subtitle>Id: {{data.id}}</h6>
    <br>
    <br>
    <div class="card-body">
        <form [formGroup]="editForm" (submit)="submit()">
            <div class="form-group">
                <button
                *ngxPermissionsOnly="['asignar-permiso-politica']"
                type="submit" (click)="editRole()" [disabled]="!editForm.valid" mat-stroked-button color="primary">
                    Guardar
                </button>
                <button type="submit" (click)="cancelEdit()" mat-stroked-button color="warn">
                    Cancelar
                </button>
            </div>
            <div class="example-section">
                <mat-label>Permisos</mat-label>
                <mat-selection-list class="list_permission"  formControlName="permisos" #permisosLis>
                    <mat-list-option [selected]="permiso.checked"  *ngFor="let permiso of permisosList" [value]="permiso.id" >
                      {{permiso.alias}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </form>
    </div>
</div>


