<div class="grid-container">
  <div class="frow-container">
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
        <h2>Proyectos Asignados</h2>
      </div>
      <div class="col-sm-1-1 col-sm-3-12 col-md-3-12">
        <mat-form-field
          [style.fontSize.px]="12"
          appearance="outline"
          class="fluid"
        >
          <mat-label [style.fontSize.px]="14">Buscar</mat-label>
          <input
            matInput
            cdkFocusInitial="true"
            placeholder="Ejemplo: Proyecto"
          />
          <mat-icon matSuffix>search</mat-icon>
          <!-- <button mat-button matSuffix mat-icon-button aria-label="clear">
            <mat-icon>close</mat-icon>
          </button> -->
        </mat-form-field>
      </div>
    </div>
    <br />

    <!--<div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="proyecto">
          <th mat-header-cell *matHeaderCellDef> Proyecto </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre_proyecto}} </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button
              matTooltip="Click para Editar" matTooltipPosition = "right" 
              color="primary" class="iconbutton">
            <mat-icon>arrow_forward</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>-->
  </div>
</div>
<div  style="padding-top: 2em; width: 100%">
  <div  style="width: 100%">
    <mat-card appearance="outlined" style="width: 100%" style="padding: 0">
      <mat-card-header style="width: 100%" color="primary" class="my-header">
        <mat-card-title style="width: 100%; margin-bottom: 0">
          <h1 class="title-card">Proyectos Asignados</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding: 2.5em; width: 100%">
        <div *ngFor="let project of projects">
          <mat-label *ngFor="let item1 of project.proyecto">
            <h2>{{ item1.nombre_proyecto }}</h2>
          </mat-label>
          <a><mat-icon>arrow_forward</mat-icon>
          </a>
          <p *ngFor="let item of project.roles">Rol: {{ item.nombre }}</p>
          <br />
          
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
