
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */

.example-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:14rem;
  height: 8rem;
}
.projects-div{
  padding:3rem 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.menu-icon { 
  height: 32px;
  width: 32px;
}

