<br>
<br>
<br>
<div class="grid-container">
  <div class="frow-container">
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
        <h2>Proyectos Asignados</h2>
      </div>
    </div>
    <br />
  </div>
</div>

  <div class="projects-div" >
    <mat-card *ngFor="let project of projects" class="example-card">
      <mat-card-header>
        <mat-card-title>
          {{project.nombre}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="loadProject(project.nombre)">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-content style="padding: 2.5em; width: 100%"> </mat-card-content>
    </mat-card>
  </div>
