.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
  
.full-width-input {
    width: 100%;
}
button{
    width: 100%;
}

.card{
    padding: 4rem;
    text-align: center;
    border: 1px solid  gray ;
    border-radius: 20px;
}

.title{
    padding: 2rem 0 2rem 0;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
}
.subtitle{
    color: #202124;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 4rem;
}