<app-auth-header></app-auth-header>
<div class="grid-container">
    <div class="frow-container">
      <div class="frow row-start">
        <div class="col-sm-1-1 col-sm-3-12 col-md-3-12"></div>
    </div>
    <h2 class="title">Recuperacion de contraseña</h2>
    <div class="card">
        
        <div class="card-body">
            <div class="" *ngIf="step===0">
                <p class="subtitle">Enviar email</p>
                <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
                    
                    <div class="form-group">
                        <mat-form-field class="full-width-input" [style.fontSize.px]="14" appearance="outline">
                            <mat-label [style.fontSize.px]="16" >Email</mat-label>
                            <input matInput type="email" formControlName="email"/>
                            <mat-error *ngIf="Email?.touched && Email?.hasError('required')"> El email es <strong>requerido</strong></mat-error> 
                            <mat-icon matSuffix>email</mat-icon>
                          </mat-form-field>
                    </div>
                    
                    <div class="form-group">
                      <button mat-raised-button color="accent" [disabled]="!emailForm.valid">
                        Enviar email
                      </button>
                    </div>
                </form>
            </div>
            <div class="" *ngIf="step===1">
                <p class="subtitle">Verificar codigo</p>
                <form [formGroup]="verifyForm" (ngSubmit)="submit()">
                    
                    <div class="form-group">
                        <mat-form-field class="full-width-input" [style.fontSize.px]="14" appearance="outline">
                            <mat-label [style.fontSize.px]="16" >Codigo de verificacion</mat-label>
                            <input matInput type="text" formControlName="token"/>
                            <mat-error *ngIf="Token?.touched && Token?.hasError('required')"> El codigo es <strong>requerido</strong></mat-error> 
                            <mat-icon matSuffix>email</mat-icon>
                          </mat-form-field>
                    </div>
                   
                    <div class="form-group">
                        <button mat-raised-button color="primary" [disabled]="!verifyForm.valid" (click)="verify()">Verificar</button>
                        <br>
                        <br>
                        <button  mat-raised-button   style="background-color: #6e7881; color: white;" (click)="prevStep()">Regresar</button>
                        
                    </div>
                    
                </form>
            </div>
            <div class="" *ngIf="step===2">
                <p class="subtitle">Cambio de contraseña</p>
                <form [formGroup]="changuePasswordForm" (ngSubmit)="submit()">
                    
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="full-width-input">
                            <mat-label>Ingrese contraseña</mat-label>
                            <input type="{{passwordType}}" formControlName="password" matInput  required />
                            <a *ngIf="passwordType=='password'" matSuffix mat-icon-button aria-label="Clear" (click)="changePasswordType()">
                                <mat-icon>visibility</mat-icon>
                              </a>
                
                              <a *ngIf="passwordType=='text'" matSuffix mat-icon-button aria-label="Clear" (click)="changePasswordType()">
                                <mat-icon>visibility_off</mat-icon>
                              </a>
                            <mat-error *ngIf="Password?.touched && Password?.hasError('pattern')">Contraseña debe tener al menos
                                <strong>
                                    8 caracteres, letras minusculas, letras mayusculas, numeros y caracteres especiales
                                </strong> </mat-error>
                        </mat-form-field>
                    </div>
            
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="full-width-input">
                            <mat-label>Confirme contraseña</mat-label>
                            <input type="{{passwordType}}" formControlName="passwordConfirm" matInput  required />
                            <mat-error *ngIf="PasswordConfirm?.touched && PasswordConfirm?.hasError('pattern')">Contraseña debe
                                tener al menos <strong>
                                    8 caracteres, letras minusculas, letras mayusculas, numeros y caracteres especiales
                                </strong> </mat-error>
                            <mat-error *ngIf="PasswordConfirm?.touched && PasswordConfirm?.hasError('matchPassword')"><strong>
                                    Las contraseñas no coinciden
                                </strong> </mat-error>
                        </mat-form-field>
                    </div>
            
                    <div class="form-group">
                        <button mat-raised-button color="primary" [disabled]="!changuePasswordForm.valid" (click)="changuePassword()">Cambiar Contraseña</button>
                        <br>
                        <br>
                        <button  mat-raised-button style="background-color: #6e7881; color: white;" (click)="prevStep()">Regresar</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</div>
</div>


<!--
<div class="frow-container" style="padding-top: 2.5em;">
    <div class="frow">
      <div class="email-container">
        <mat-card appearance="outlined" style="padding: 0;">
          <mat-card-header color="primary" class="my-header">
            <mat-card-title style="width: 100%; margin-bottom: 0;">
              <div class="frow">
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                  <h1 class="title-card">Recuperacion de contraseña</h1>
                </div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content style="padding: 2.5em 10%;">
            <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
              <mat-form-field class="fluid full-width" [style.fontSize.px]="14" appearance="outline">
                <mat-label [style.fontSize.px]="16" >Email</mat-label>
                <input matInput type="email" formControlName="email"/>
                <mat-error *ngIf="Email?.touched && Email?.hasError('required')"> El email es <strong>requerido</strong></mat-error> 
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <div class="login-buttons">
                <button mat-raised-button color="accent" [disabled]="!emailForm.valid">
                  Enviar email
                </button>
              </div>
              <br>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      
    </div>
  </div>
-->
  
