<div class="card">
    <h3 mat-dialog-title>Usuario: {{data.username}}</h3>
    <br>
    <div class="card-body">
        <form [formGroup]="editForm" (submit)="submit()">
            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ingrese su DPI</mat-label>
                    <input type="number" formControlName="DPI" matInput placeholder="2320 55634 0103"
                        class="form-control" required />
                    <mat-error *ngIf="DPI?.touched && DPI?.hasError('required')">DPI es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="DPI?.touched && DPI?.hasError('pattern')">DPI es debe contener<strong>13
                            digitos</strong> </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ingrese su Nombre</mat-label>
                    <input type="text" matInput formControlName="nombres" placeholder="Primer Nombre, Segundo Nombre..."
                        class="form-control" required />
                    <mat-error *ngIf="Nombres?.touched && Nombres?.hasError('required')">Nombres son
                        <strong>requeridos</strong> </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ingrese su Apellido</mat-label>
                    <input type="text" formControlName="apellidos" matInput
                        placeholder="Primer Apellido, Segundo Apellido..." class="form-control" required />
                    <mat-error *ngIf="Apellidos?.touched && Apellidos?.hasError('required')">Apellidos son
                        <strong>requeridos</strong> </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Observaciones(opcional)</mat-label>
                    <input type="text" formControlName="descripcion" matInput
                        placeholder="Usuario administrador de roles" class="form-control">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ingrese Telefono</mat-label>
                    <input type="number" formControlName="telefono" matInput
                        placeholder="7761 - 3656" class="form-control" required />
                    <mat-error *ngIf="Phone?.touched && Phone?.hasError('required')">
                        Telefono es
                        <strong>requerido</strong> 
                    </mat-error>
                    <mat-error *ngIf="Phone?.touched && Phone?.hasError('pattern')">
                        <strong>Telefono debe tener 8 digitos</strong>
                      </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ingrese su Email</mat-label>
                    <input type="email" formControlName="email" matInput placeholder="ejemplo.correo@gmail.com"
                        class="form-control" required />
                    <mat-error *ngIf="Email?.touched && Email?.hasError('required')">Email es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ingrese el Codigo de Usuario</mat-label>
                    <input type="number" formControlName="codigo_usuario" matInput placeholder="0985"
                        class="form-control" required />
                    <mat-error *ngIf="CodigoUsuario?.touched && CodigoUsuario?.hasError('required')">Codigo de usuario
                        es <strong>requerido</strong> </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-checkbox [checked]="checked" class="example-margin" (change)="passwordStatus($event.checked)">
                    Cambiar Contraseña
                </mat-checkbox>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ingrese contraseña</mat-label>
                    <input type="password" formControlName="password" matInput class="form-control" required />
                    <mat-error *ngIf="Password?.touched && Password?.hasError('pattern')">Contraseña debe tener al menos
                        <strong>
                            8 caracteres, letras minusculas, letras mayusculas, numeros y caracteres especiales
                        </strong> </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Confirme contraseña</mat-label>
                    <input type="password" formControlName="passwordConfirm" matInput class="form-control" required />
                    <mat-error *ngIf="PasswordConfirm?.touched && PasswordConfirm?.hasError('pattern')">Contraseña debe
                        tener al menos <strong>
                            8 caracteres, letras minusculas, letras mayusculas, numeros y caracteres especiales
                        </strong> </mat-error>
                    <mat-error *ngIf="PasswordConfirm?.touched && PasswordConfirm?.hasError('matchPassword')"><strong>
                            Las contraseñas no coinciden
                        </strong> </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <button
                *ngxPermissionsOnly="['editar-usuario']"
                type="submit" (click)="editUser()" [disabled]="!editForm.valid" mat-stroked-button color="primary">
                    Editar Usuario
                </button>
                <button type="submit" (click)="cancelEdit()" mat-stroked-button color="warn">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
