<div class="card">
    <h3 mat-dialog-title>Usuario: {{data.nombre}}</h3>
    <h6 mat-dialog-subtitle>Id: {{data.id}}</h6>
    <br>
    <br>
    <div class="card-body">
        <form [formGroup]="editForm" (submit)="submit()">
            <div class="form-group">
                <button
                *ngxPermissionsOnly="['asignar-usuario-politica']"
                type="submit" (click)="editUser()" [disabled]="!editForm.valid" mat-stroked-button color="primary">
                    Guardar
                </button>
                <button type="submit" (click)="cancelEdit()" mat-stroked-button color="warn">
                    Cancelar
                </button>
            </div>
            <div class="example-section">
                <br>
                <br>
                <mat-label>Politicas</mat-label>
                <br>
                <mat-selection-list formControlName="politicas" #permisosLis>
                    <mat-list-option [selected]="rol.checked"  *ngFor="let rol of rolesList" [value]="rol.id" >
                      {{rol.nombre}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </form>
    </div>
</div>