/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */

*,
body {
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 76, 134, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  margin: 40px;
}

.fluid {
  width: 100%;
}

.my-header > .mat-mdc-card-header-text {
  width: 100% !important;
  margin: 0 !important;
  padding: 14px 14px 0 14px;
  background-color: #1565c0;
  color: white;
}

.mat-divider {
  border-top-color: rgba(0, 0, 0, 0.50);
}

.full-width-table {
  width: 100%;
}

.hide{
  display: none;
}

.cursor-pointer:hover {
  cursor: pointer !important;
}

.pointer{
  cursor: pointer;
}

.cell-pointer:hover {
  cursor: pointer; 
}

.full-width-table{
  width: 100%;
}

.selected-row:hover {
  background-color: beige;
}

