<div class="header">
  <h1>Proyectos</h1>
  <a mat-fab color="accent" routerLink="create">
    <mat-icon aria-label="add" oncli>add</mat-icon>
  </a>
</div>
<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ej. Proyecto ENEI"
    #input
  />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Rol Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    </ng-container>

    <!-- Nombres Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Año</th>
      <td mat-cell *matCellDef="let row">{{ row.year }}</td>
    </ng-container>
    <!-- encuesta Column -->
    <ng-container matColumnDef="encuesta">
      <th mat-header-cell *matHeaderCellDef>Encuesta</th>
      <td mat-cell *matCellDef="let row">{{ row.encuesta }}</td>
    </ng-container>

    <!-- upms Column -->
    <ng-container matColumnDef="upms">
      <th mat-header-cell *matHeaderCellDef>UPM's</th>
      <td mat-cell *matCellDef="let row">{{ row.upms }}</td>
    </ng-container>

    <!-- progres Column -->
    <ng-container matColumnDef="progreso">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let row">
        <button mat-stroked-button color="warn" class="progres" *ngIf="row.progreso==0" >En progreso</button>
        <button mat-stroked-button color="primary" class="progres" *ngIf="row.progreso==1">Finalizado</button>
        
      </td>
    </ng-container>
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="row.progreso==0"
          mat-icon-button
          (click)="editar(row.id, row.nombre, row.year, row.encuesta, row.upms,row.progreso)"
          matTooltip="Editar"
          matTooltipPosition="right"
          color="primary"
          class="iconbutton"
          matTooltipPosition="above"
        >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Desactivar"
          (click)="desactivar(row.id, row.nombre)"
          color="warn"
          class="iconbutton"
          matTooltipPosition="above"
        >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button (click)="finalizarProject(row.id,row.nombre)" matTooltip="Finalizar Proyecto"
          matTooltipPosition="below" 
          *ngIf="row.progreso==0" 
          mat-icon-button
          >
          <mat-icon aria-label="Home">done</mat-icon>
        </button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No hay resultados de "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
