<div class="grid-container">
  <div class="frow-container">
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
        <h2>Área de Cartografo</h2>
      </div>
      <div class="col-sm-1-1 col-sm-3-12 col-md-3-12">
        <mat-form-field
          [style.fontSize.px]="12"
          appearance="outline"
          class="fluid"
        >
          <mat-label [style.fontSize.px]="14">Buscar</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ejemplo: AEE010100005A1"
            #input
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="mat-elevation-z8" *ngxPermissionsOnly="['ver-upms-cartografo']">
      <table mat-table [dataSource]="dataSource" matSort class="fluid">
        <!-- Departamento Column -->
        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</th>
          <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.departamento }}</td>
        </ng-container>

        <!-- Municipio Column -->
        <ng-container matColumnDef="municipio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</th>
          <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.municipio }}</td>
        </ng-container>

        <!-- UPM Column -->
        <ng-container matColumnDef="upm">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>UPM</th>
          <td class="cell-pointer" mat-cell *matCellDef="let row">{{ row.upm }}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td class="cell-pointer" mat-cell *matCellDef="let row">
            <button
              style="background: white;"
              [ngStyle]="getColor(row.cod_estado)"
              class="estado"
            >
              {{row.estado}}
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="cell-pointer" mat-cell *matCellDef="let row">
            <div>
              <button
              mat-flat-button
              [disabled]="row.cod_estado!=1"
              color="primary"
              (click)="initActualization(row.upm)"
              *ngxPermissionsOnly="['inicializar-actualizacion']"
                matTooltip="Iniciar Actualizacion" matTooltipPosition="right">
                <mat-icon>power_settings_new</mat-icon>
              </button>
            </div>

            <div>
              <button
              mat-flat-button
              color="warn"
              (click)="finishActualization(row.upm)"
              [disabled]="row.cod_estado==1 || row.cod_estado==3 || row.cod_estado==4"
              *ngxPermissionsOnly="['finalizar-actualizacion']"
              matTooltip="Finalizar UPM" matTooltipPosition="left">
                <mat-icon aria-label="Home">done</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="selected-row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No hay resultados de "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        #paginator
        [pageSizeOptions]="[10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
