<div class="grid-container">
    <div class="frow-container">
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-6-12 col-md-6 12">
                <h2>Bitacora</h2>
            </div>
            <div class="col-sm-1-1 col-sm-3-12 col-md-3-12">
                <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
                    <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Juan Pérez" #input>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <!-- <div class="col-sm-1-1 col-sm-3-12 com-md-3-12" style="text-align: right;">
                <button *ngxPermissionsOnly="['supervisor']" mat-flat-button color="accent" style="margin-right: 8px;" (click)="open()">
                    <mat-icon>add</mat-icon>
                    Crear Equipo de Campo
                </button>
            </div> -->
        </div>
        <div class="mat-elevation-z8 table">
            <table mat-table [dataSource]="dataSource" matSort class="fluid">

                <ng-container matColumnDef="upm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>UPM</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let row"> {{row.upm}} </td>
                </ng-container>
        
                <ng-container matColumnDef="codigo_usuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha y Hora</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                </ng-container> 

                <ng-container matColumnDef="nombres">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let row"><button
                        style="background: white;"
                        [ngStyle]="getColor(row.cod_estado)"
                        class="estado"
                        >
                        {{row.tipo}}
                    </button> </td>
                </ng-container> 

                <ng-container matColumnDef="apellidos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let row"> {{row.nombres}}  {{row.apellidos}} </td>
                </ng-container> 

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reemplazo</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let row">
                        
                    </td>
                </ng-container> 
        
                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td class="cell-pointer" mat-cell *matCellDef="let row">
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="selected-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay resultados de "{{input.value}}"</td>
                </tr>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
