<br />
<br />
<br />
<div class="card">
    <div class="card-body">
        <form [formGroup]="rolForm" (submit)="createAssignment()">
            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label [style.fontSize.px]="16">Seleccione un Grupo</mat-label>
                    <mat-select formControlName="grupo_id">
                        <mat-option *ngFor="let grupo of grupos"  [value]="grupo.id">{{grupo.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="Grupo?.touched && Grupo?.hasError('required')">Grupo es <strong>requerido</strong>
                    </mat-error>                    
                </mat-form-field>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!rolForm.valid" mat-raised-button color="primary">
                    Asignar Roles
                </button>
            </div>
            <br />
            <br />
            <div class="example-section">
                <mat-label>Roles</mat-label>
                <mat-selection-list formControlName="roles" >
                    <mat-list-option  [selected]="rol.checked" *ngFor="let rol of roles" [value]="rol.id" >
                      {{rol.nombre}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </form>
    </div>
</div>

