.container{
    display: flex;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
