<br>
<div>

    <div class="header">
        <div>
            <h3><mat-label>En Progreso {{progress}}/{{totalProgres}}</mat-label></h3>
            <div class="flex-wrapper">
                <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart blue">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        <path class="circle" [style]="styleProgress()" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        <text x="18" y="20.35" class="percentage">{{percentajeProgress|number:'2.2-2'}}%</text>
                    </svg>
                </div>
            </div>
        </div>
    
        <div>
            <h3><mat-label>Finalizado {{finished}}/{{total}}</mat-label></h3>
            <div class="flex-wrapper">
                <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart blue">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        <path class="circle"  [style]="styleFinished()" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        <text x="18" y="20.35" class="percentage">{{percentajeFinished|number:'2.2-2'}}%</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <mat-card class="list_departments" *ngFor="let department of departments">
            <mat-card-content class="list_item">
                <mat-form-field >
                    <input matInput placeholder="" readonly>
                    <a><img class="card-img-top" src="./assets/images/xela-silueta.png" width="190" alt="Card image cap"></a>
                    <div class="card-body">
                        <h3 class="card-title">{{department.nombre}}</h3>
                    </div>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
    <br>
</div>